/* Created by Tivotal */

/* Google Fonts(Orbitron) */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap");

* {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f8ff;
}

.wrapper {
  width: 100%;
  max-width: 560px;
  height: 220px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .col {
  position: relative;
  display: flex;
  align-items: center;
}

.wrapper .col .text-wrapper {
  width: 100px;
  height: 100px;
  background: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.text-wrapper .num {
  font-size: 35px;
  font-weight: 700;
}

.text-wrapper .text {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

.col .symbol {
  font-size: 40px;
  margin: 0 10px;
}

.col .label {
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
